body{
 text-align: center;
 margin: 50px;
}
.caution{
    background-color: #FFFF99;
    border-spacing: 5px;
    padding: 5px;
    font-size: 15px;
}
h1{
  font-size: 60px;
  color: #FE2E64;
}
h2{
  font-size: 50px;
  color: #04B486;
}
table{
  font-size: 25px;
  border-spacing: 10px;
  padding: 15px;
  background-color: snow;
  cellpadding: 10;
  margin: auto;
  margin-bottom: 20px;
}
tbody{
  text-align: center;
  margin: 60px;
  border: 20px;
  background-color: white;
}
.top{
  font-weight: 900;
  font-size: 31px;
}
th{
  color: black;
}
td{
  height: 55px;
}
input{
  height: 25px;
  width: 800px;
}
